body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 5px;
}

h3 {
    color:rgb(231, 116, 135)
}


table {
    width: 600px;
    border-collapse: collapse;
    margin-bottom: 25px;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
}

form {
    width: 400px;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
}

button {
    margin-top: 15px;
    padding: 8px 15px;
}